/* Style the label to resemble a button */
.special-label {
  display: inline-block;
  /* padding: 5px; */
  cursor: pointer;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
}

.special-input {
  display: none;
}

/* Style the checked radio button background and text */
.special-input:checked + .special-label {
  background-color: white;
  color: black;
  padding: 14px 20px;
  border-radius: 50px;
  transition: all;
  transition-delay: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
