.toggle-label {
  position: relative;
  display: block;
  width: 260px;
  height: 50px;
  margin-top: 8px;
  font-size: xx-small;
  border-radius: 100px 100px 100px 100px;
  box-shadow: 0px 2px 10px 0px #aeaeaead;
}
.toggle-label input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 80%;
}
.toggle-label input[type="checkbox"] + .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #0b428b;
  transition: background 150ms linear;
  border-radius: 100px 100px 100px 100px;
}
.toggle-label input[type="checkbox"]:checked + .back {
  background: #ffffff; 
}

.toggle-label input[type="checkbox"] + .back .toggle {
  display: block;
  position: absolute;
  content: " ";
  background: #0b428b;
  width: 50%;
  height: 100%;
  transition: margin 150ms linear;
  border-radius: 100px 100px 100px 100px;
}
.toggle-label input[type="checkbox"]:checked + .back .toggle {
  margin-left: 129px;
  background: black;
  color: white;
}
.toggle-label .label {
  display: block;
  position: absolute;
  width: 50%;
  color: #ffffff;
  line-height: 50px;
  text-align: center;
  font-size: 2em;
}
.toggle-label .label.on {
  left: 0px;
}
.toggle-label .label.off {
  right: 0px;
}

.toggle-label input[type="checkbox"]:checked + .back .label.on {
  color: black;
}
.toggle-label input[type="checkbox"] + .back .label.off {
  color: #0b428b;
}
.toggle-label input[type="checkbox"]:checked + .back .label.off {
  color: #ffffff;
}

#talkbubble {
  width: 120px;
  height: 110px;
  background: rgb(171, 171, 171);
  /* position: relative; */
  -moz-border-radius: 10px;
  color: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  
}
#talkbubble:before {
  content: "";
  position: absolute;
  /* top: 100%; */
  border-radius: 104px;
  top: -12px;
  transform: rotate(86deg);
  right: 9px;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid rgb(171, 171, 171);
  border-bottom: 13px solid transparent;
}


